<!DOCTYPE HTML>
<!--
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ButtonGame v.0.3 - #js #mongodb #nodejs #socket.io #ejs #express - template Aerial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        icoLogo.png
        <link crossorigin="anonymous" rel="icon" href="https://latitanti.altervista.org/BG/icoLogo.png" sizes="32x32">
        <%- include('./assets/main-css'); %>
        <script src="https://kit.fontawesome.com/e4ff14a47e.js" crossorigin="anonymous"></script>
		
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
                        
                        <img src="https://latitanti.altervista.org/logoBG.png" class="fa-solid fa-play"></img>
						<h1>ButtonGame v.0.3</h1>
						<p>#nodejs #socket.io &nbsp;&bull;&nbsp;#ejs #express &nbsp;&bull;&nbsp; #Render Web Service</p>
                        <h2 class="popupDesk">In questo puzzle dovrete accoppiare i numeri uguali.</h2>
                        <ul class="popupDesk">  
                            <li> bottoni con i numeri uguali avranno anche lo stesso colore </li>
                            <li> Cerca di distruggere tutti i bottoni per ricevere il max punteggio </li>
                        </ul>
						<nav>
							<ul>
							<!--	<li><a href="#" class="fa-solid fa-house"><span class="label">Home</span></a></li>-->
								<li><a href="#" onclick="openPage('play');" class="fa-solid fa-play"><span class="label">PlayGame</span></a></li>
								<li><a href="#" onclick="openPage('stats');"  class="fa-solid fa-star"><span class="label">Stats</span></a></li>
                                <li><a href="#" onclick="openPage('chat');"  id="myBtn" class="fa-solid fa-comment"><span class="label">Chat</span></a></li>
                                
								<li><a href="#" onclick="openPage('conf');" id="myBtnConf" class="fa-solid fa-gear"><span class="label">Conf</span></a></li>
                               </ul>
						</nav>
					</header>
                    
                    <section>
                     <!-- The Modal -->
            <div id="myModal" class="modal">
                     <!-- START Modal content -->
                        <!-- Modal content -->
                <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <span id='labelLogo' class="fa-solid fa-comment"></span>
                                <span id="labelPage" class="label"> CHAT </span>
                            </div>

                 <!--        PAGINA CHAT           -->
                    <div id='modal-body' class="modal-body hide">
                            <ul id="messages"></ul>
                            <br><br>
                     <div id='modal-footer' class="modal-footer">
                        <form id="form" action="">
                        <input id="input" autocomplete="off" /><button>Send</button>
                        </form>
                     </div>
                    </div>

                    <!--        PAGINA CONFIGURAZIONE           -->
                    <div id='modal-conf-page' class="modal-body hide">
                        <h2>COnfigurazioni</h2>
                        <br>
                        <div class="col-6 col-12-small">
                            <input type="checkbox" id="demo-human" name="demo-human" checked>
                            <label for="demo-human">I am a human</label>

                            <input type="checkbox" id="demo-human2" name="demo-human" checked>
                            <label for="demo-human2">AUDIO VOLUME</label>
                        </div>
                     

                        <div class="col-6 col-12-xsmall">
                            <div class="contact">
                                <div class="pic rogers"></div>
                                <div class="badge"></div>
                                <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                                <button>SAVE</button>
                            </div>
                        <br>
                        </div>

                        <div class="col-6 col-12-xsmall">
                            <div class="">
                                <h2>Browser detect</h2>
                                <button onclick="browserCheck()">Check</button>
                                <textarea id="browserTextArea" name="demo-message" id="demo-message" placeholder="Enter your message" rows="3"></textarea>
                          		
                               	
                            </div>
                        <br>
                        </div>

                        <div class="col-6 col-12-small">
                           	
                        </div>

                        <div class="col-12">
                            <select name="demo-category" id="demo-category">
                                <option value="">- Category -</option>
                                <option value="1">Manufacturing</option>
                                <option value="1">Shipping</option>
                                <option value="1">Administration</option>
                                <option value="1">Human Resources</option>
                            </select>
                        </div>
                        <br>
                    </div> 


    <!--          PAGINA STATS           -->
                    <div id='modal-conf-stat' class="modal-body hide">
                        <h2>Classifica</h2>
                        <br>
                    </div> 


    <!--          PAGINA play         -->
    <div id='modal-conf-game' class="modal-body hide">
        <h2>Play The Game</h2>
        <br>
        <div class="modal-body">
                
        <div class="contact">
            <img class="pic imgPlaygame" src="https://latitanti.altervista.org/BG/img/png.png" ></img>
            <h2>CAMPAIGN </h2>
        </div>

        <div class="contact">
            <img class="pic imgPlaygame" src="https://latitanti.altervista.org/BG/img/png2.png" ></img>
            <h2>1 VS 1</h2>
        </div>

         </div>
    </div> 



                </div>
                    <!-- FINE Modal content -->
            </div> 
                    </section>
				<!-- Footer -->
					<footer id="footer">
                      
						<span class="copyright">&copy;ButtoneGame</span>
					</footer>

			</div>
		</div>
		<script>


let browserCheck= ()=> {
    // compatibility 100% info browser
	let nav =         navigator.userAgent;
    let languageSet=  navigator.language;
    let vendor=       navigator.vendor
    let brand="",brandVersion="";
    // no comp firefox,safari,firefox androdi,safari ios,webview android
    try {
        brand=        navigator.userAgentData.brands[0].brand;
        brandVersion= navigator.userAgentData.brands[0].version;
} catch (err) {
  console.log("browser not Compatible 100%")
}
   
    
    let domArea=document.getElementById('browserDtext');
    let domA=document.getElementById('browserTextArea');
    let tempF="";
    let dataTot=[nav,languageSet,vendor,brand,brandVersion];
    let dataInfo=["User Agent:","Language:","Vendor:","Browser:","Version:"]
    dataTot.forEach((currentElement,index) => {
        if (currentElement==null){ 
            
        }else{
         /* 
         let p=document.createElement('p');
         p.innerText=dataInfo[index]+" "+dataTot[index];
         domArea.appendChild(p);
         ... */ 

         tempF+=dataInfo[index]+" "+dataTot[index]+"\n";
        }})
        domA.innerHTML=tempF;
/*  browserTextArea
    domArea.innerHTML="<p> User Agent:"+nav+"</p> <p>Language:"+languageSet +" </p>";
    domArea.innerHTML+="<p> Vendor:"+vendor+"</p>";
    domArea.innerHTML+="<p><b> Browser</b>:"+brand+"</p>";
    domArea.innerHTML+="<p> Version:"+brandVersion+"</p><br>";
    */
}


// Funzione per ottenere il nome e la versione del browser
function getBrowserInfo() {
  var ua = navigator.userAgent;
  var tem;
    var M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
    if (/trident/i.test(M[1])) {
        tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
        return { name: 'IE', version: (tem[1] || '') };
    }
    if (M[1] === 'Chrome') {
        tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
        if (tem != null) return { name: tem[1].replace('OPR', 'Opera'), version: tem[2] };
    }
    M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
    tem = ua.match(/version\/(\d+)/i);
    if (tem != null) M.splice(1, 1, tem[1]);
    return {
        name: M[0],
        version: M[1]
    };
}

// Ottieni le informazioni sul browser
var browser = getBrowserInfo();

// Mostra le informazioni del browser nella console
document.getElementById('browserTextArea').innerText="Browser:"+browser.name+"\n "+"Versione:"+browser.version;



			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		

            //openPage('conf')
let openPage = async (page)=> {//debugger

    modal.style.display = "block";

    if (page==='conf'){
       let page= document.getElementById('modal-conf-page')
       //se la pagine contiene la classe hide la leva...altrimenti nn fa nulla...loool;
       if(page.classList.contains("hide")){
              page.classList.toggle("hide");
        } else{ };

        let testoHeader= document.getElementById('labelPage');
        testoHeader.innerText='CONFIGURAZIONI';
       // console.log('sto configurando...')

        let logoHeader= document.getElementById('labelLogo');
        logoHeader.className='fa-solid fa-gear';

    }


    if (page==='chat'){
       let page= document.getElementById('modal-body')
       //se la pagine contiene la classe hide la leva...altrimenti nn fa nulla...loool;
       if(page.classList.contains("hide")){
              page.classList.toggle("hide");
        } else{ };

        let testoHeader= document.getElementById('labelPage');
        testoHeader.innerText='CHAT';

        let logoHeader= document.getElementById('labelLogo');
        logoHeader.className='fa-solid fa-comment';
        window.scrollTo(0, document.body.scrollHeight);
        document.querySelector("#myModal > div").scrollTo(0,800)

    }


    if (page==='stats'){
       let page= document.getElementById('modal-conf-stat')
       //se la pagine contiene la classe hide la leva...altrimenti nn fa nulla...loool;
       if(page.classList.contains("hide")){
              page.classList.toggle("hide");
        } else{ };

        let testoHeader= document.getElementById('labelPage');
        testoHeader.innerText='CLassifica';
       // console.log('sto configurando...')

        let logoHeader= document.getElementById('labelLogo');
        logoHeader.className='fa-solid fa-star';

    }


    if (page==='play'){
       let page= document.getElementById('modal-conf-game')
       //se la pagine contiene la classe hide la leva...altrimenti nn fa nulla...loool;
       if(page.classList.contains("hide")){
              page.classList.toggle("hide");
        } else{ };

        let testoHeader= document.getElementById('labelPage');
        testoHeader.innerText='Play The Game';
       // console.log('sto configurando...')

        let logoHeader= document.getElementById('labelLogo');
        logoHeader.className='fa-solid fa-play';

    }
}


// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
let btnConf = document.getElementById("myBtnConf");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  closeModal();
}

//chiude tutte le modal
const closeModal =()=>{
    let pagecon =document.getElementById('modal-conf-page')        // PAGINA CONFIGURAZIONE
  let pagecha= document.getElementById('modal-body')  // PAGINA CHAT
  let pageclas= document.getElementById('modal-conf-stat')  // PAGINA STAT CLASSSSIFICA
  let pageGame= document.getElementById('modal-conf-game');
  
             //se la pagine contiene la classe hide la leva...altrimenti nn fa nulla...loool;
       if(pagecon.classList.contains("hide")){ } else{ pagecon.classList.toggle("hide");  };
       
       if(pagecha.classList.contains("hide")){ } else{ pagecha.classList.toggle("hide");  };

       if(pageclas.classList.contains("hide")){ } else{ pageclas.classList.toggle("hide");  };

       if(pageGame.classList.contains("hide")){ } else{ pageGame.classList.toggle("hide");  };
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
   // console.log(event.target);
  if (event.target == modal) {
    modal.style.display = "none";
    closeModal();
  }
}
//SAFARI BUG DONT CLOSE IF YOU CLICK OUT OF MODAL AREA
/*
window.addEventListener("touchstart",  function(event) {
  
  if (event.target === modal) {
    modal.style.display = "none";
  }
  
})
*/
        </script>
          <%- include('./scriptClient'); %>
	</body>
</html>