<!DOCTYPE HTML>
<!--
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ButtonGame v.0.3 - #js #mongodb #nodejs #socket.io #ejs #express - template Aerial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <%- include('./assets/main-css'); %>
        <script src="https://kit.fontawesome.com/e4ff14a47e.js" crossorigin="anonymous"></script>
		
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>ButtonGame v.0.3</h1>
						<p>#nodejs #socket.io &nbsp;&bull;&nbsp;#ejs #express &nbsp;&bull;&nbsp; #Render Web Service</p>
						<nav>
							<ul>
							<!--	<li><a href="#" class="fa-solid fa-house"><span class="label">Home</span></a></li>-->
								<li><a href="#" class="fa-solid fa-play"><span class="label">PlayGame</span></a></li>
								<li><a href="#" class="fa-solid fa-star"><span class="label">Stats</span></a></li>
                                <li><a href="#" id="myBtn" class="fa-solid fa-comment"><span class="label">Chat</span></a></li>
                                
								<li><a href="#" id="myBtnConf" class="fa-solid fa-gear"><span class="label">Conf</span></a></li>
                               </ul>
						</nav>
					</header>
                    
                    <section>
                     <!-- The Modal -->
            <div id="myModal" class="modal">
                     <!-- START Modal content -->
                        <!-- Modal content -->
                <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <a id='labelLogo' class="fa-solid fa-comment"></a>
                                <span id="labelPage" class="label"> CHAT </span>
                            </div>
                    <div id='modal-body' class="modal-body">
                            <ul id="messages"></ul>
                            <br>
                     <div id='modal-footer' class="modal-footer">
                        <form id="form" action="">
                        <input id="input" autocomplete="off" /><button>Send</button>
                        </form>
                     </div>

                    </div>
                    <div id='modal-body-page' class="modal-body hide">
                        <h2>COnfigurazioni</h2>
                        <br>
                    </div> 
                </div>
                    <!-- FINE Modal content -->
            </div> 
                    </section>
				<!-- Footer -->
					<footer id="footer">
                      
						<span class="copyright">&copy;ButtoneGame by Cro.</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
let btnConf = document.getElementById("myBtnConf");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function(page) {
  modal.style.display = "block";
}

btnConf.onclick = function(page) {

document.getElementById("labelPage").innerText='CONFIGURAZIONI'
//document.getElementById("labelLogo");
 if(document.getElementById("modal-body").classList.contains("hide")){

 }else{
document.getElementById("modal-body").classList.toggle("hide");
document.getElementById("modal-body-page").classList.toggle("hide");
//document.getElementById("modal-footer");
}
 modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
        </script>
          <%- include('./scriptClient'); %>
	</body>
</html>