<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="test">
<meta name="author" content="crocchi">
<link rel="icon" href="https://i.imgur.com/mERm5IP.png" sizes="32x32">

<title>test #nodejs #ejs #express </title>
</head>

<body>
<h1> hallo cro..tappost?  </h1>

-----

<% for(let z=0; z < msg.length; z++) { %>
    <h3> <%= msg[z] %> </h3>
    <% }%>
</body>
</html>
