body {
  text-align: center;
  margin: 16% 0 0 0;
  background-image: url(img/sfondo.jpg);
  background-color: #7c377d;
  background-size: 90%;
  background-blend-mode: hard-light;
}

testoGame {
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 1px 1px 1px black;
}

#tabella {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabella td,
#tabella th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabella tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tabella tr:hover {
  background-color: #ddd;
}

#tabella th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#botExtra {
  background-color: magenta;
  color: white;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}

.ombra {
  text-shadow: 1px 1px 1px black;
}

button {
  font-size: 150%;
  height: 5%;
  width: 6%;
}

.barra {
  background-color: magenta;
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 3px black;
}

.butPnt {
  color: white;
  position: absolute;
  left: 2%;
  top: 17%;
  font-size: 170%;
  max-width: 50px;
}

.barraH {
  background-color: magenta;
  z-index: 1;
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0px -1px 3px black;
}

.nextL P {
  FONT-SIZE: medium;
}

.statFinLiv {
  color: yellow;
}

.nextL {
  background-color: gold;
  color: green;
  height: 4%;
  box-shadow: 2px 1px 4px black;
}

iframe {
  border: none;
}

.bottoneImg {
  background-image: url(img/atom-the-point.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.bombaImg {
  background-image: url(img/atom-the-number.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#paginaHome {
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  height: 100%;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  display: block;
  background-color: magenta;
  text-shadow: 1px 1px 2px #000000b8;
  z-index: 1;
}

h2.button1 {
  position: relative;
  color: magenta;
  width: 20%;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

h2.button1:active {
  top: 1px;
  box-shadow: none;
}

h2.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.button1 {
  color: magenta;
  width: 50%;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.button1:active {
  top: 1px;
  box-shadow: none;
}

.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.bottVetro {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
}

/*.bottVetro:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  }*/
.bottVetro:active {
  top: 1px;
}

.bottVetrod {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)),
    linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
}

.bottVetrod:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.bottVetrod:active {
  top: 1px;
}

.infoP {
  background-color: yellow;
  display: inline-flex;
  margin: 1%;
  text-shadow: none;
  color: black;
  border-color: blueviolet;
  border-style: dashed;
  box-shadow: 1px 1px 3px black;
}

.infoP img {
  width: 75px;
  height: 79px;
}

.button4 {
  color: white;
  width: 100%;
  margin: 5% auto;
  text-decoration: none;
  text-shadow: -1px -1px #db46cf;
  user-select: none;
  padding: 2% 1%;
  outline: none;
  background-color: #f641f9;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.button4:active {
  top: 1px;
  box-shadow: none;
  background-image: none
}

.button4:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.button3 {
  color: white;
  width: 50%;
  margin: 2% 10% auto;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #db46cf;
  user-select: none;
  padding: 5% 4%;
  outline: none;
  background-color: #f641f9;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
  line-height: 0px;
}

.button3:active {
  top: 1px;
  box-shadow: none;
  background-image: none
}

.button3:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

#statusBarra {
  background-color: magenta;
  position: fixed;
  top: 88%;
  width: 100%;
  height: 12%;
  display: flex;
  font-family: 'Luckiest Guy', cursive;
}

ul {
  font-size: medium;
  text-align: left;
  color: blanchedalmond;
}